<ul id="directory_context">
  <li><a id="new_file" href="#">New file</a></li>
  <li><a id="new_dir" href="#">New directory</a></li>
  <% if !is_root %>
    <li><a id="rename_dir" href="#">Rename directory</a></li>
    <li><a id="remove_dir" href="#">Remove directory</a></li>
  <% end %>
</ul>