<% content_for :left_sidebar do %>
  <nobr>
    <div id="tree">
    </div>
  </nobr>
<% end %>
<%= render 'files/tab' %>

<%#= javascript_tag render template: 'directories/directories.js.erb.coffee' %>
<%#= javascript_tag render template: 'files/files.js.erb.coffee' %>
