// Place all the styles related to the Files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.file-type-icon {
  width: 15px;
  margin: 1px;
  margin-top:-2px;
}
//.left .list-files li {
//  display: block;
//}
.left .well {
  padding: 0;
}
#files {
  height: 100%;
}
#files .tab-content .tab-pane .code {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 275px;
  border-top: 5px solid #DADADA;
  .ace_gutter {
    background-color: #DADADA;
  }
}
.unsaved {
  color:navy
}
.close_tab {
  position: relative;
  right: 0;
  top:-5px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  color: #AAA;
  font-size: 16px;
  &:hover {
    color: #333;
    text-shadow: 0 0 20px blue;
  }
}